body {
    background-image: linear-gradient(#333,#222);
    position: relative;
}
a {
    text-decoration: underline;
}
ul {
    list-style-position: outside;
    display: inline-block;
    text-align: left;
}
.row {
    margin: 0;
}
.dropdown-menu {
    padding: 0;
}
.dropdown-item {
    background-color: #222;
    font-family: 'Dosis', sans-serif;
    color: rgba(255,255,255,.5);
}
#video {
    padding: 0;
    position: relative;
    bottom: 20px;
    z-index: -1;
}
/* Had to remove flex from Bootstrap */
#profile {
    display: block;
}

#nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 100;
}
#myVideo {
    /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
}
/* 
h1 {
    position: relative;
    left: 0px;
    right: 0px;
} */
.responsive-font {
    font-size: 2.5vw;

}
.img-size {
    width: 75%;
    height: 75%;
}
.content {
    position: relative;
    /* bottom: 126px; */
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 100%;
    padding: 15px;
}
.title {
    font-family: 'Permanent Marker', cursive;
    font-size: 6.5vw;
}
.name {
    font-size: 6.5vw;
    font-family: 'Allerta Stencil', sans-serif;
}
.subtitle {
    font-size: 3vw;
    font-family: 'Dosis', sans-serif;
}
.dosis-font {
    font-family: 'Dosis', sans-serif;
}
#projects-title-div {
    display: block;
    margin-bottom: 10%;
    
}
.project-div {
    position: relative;
    width: 75%;
    height: 75%;
}
.dark-section-header {
    width: fit-content;
    margin: auto;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
    font-size: 9.5vw;
}
.project-title {
    font-size: 5.5vw;
    font-family: 'Dosis', sans-serif;
}
.paragraph-text {
    font-family: 'Open Sans', sans-serif;
}
.text-indent {
    text-indent: 40px;
    margin: 10px;
}
.light-text {
    color: white;
}
.dark-text {
    color: #222;
}
.no-gutters {
    padding: 0;
}
.col-sm {
    margin: 10px;
}
.iframe {
    height: 35vw;
}
/* .info-slide:hover,
.info-slide:active {
    
} */
/* .info-slide:hover,
.info-slide:active {
    height: 100px;
} */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* UCR Project styling */
.light-div {
    background-color: #dedee0;
}
#ucr-text {
    background-color: #333;
    opacity: .8;
}

.skills-section-title {
    font-size: 4vw;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: dodgerblue;
}
.skill-font {
    font-size: 3vw;
    font-family: 'Open Sans', sans-serif;
}
.light-section-header {
    width: fit-content;
    margin: auto;
    border-top: white solid 4px;
    border-bottom: white solid 4px;
    margin-bottom: 4%;
}
/* Min-width media queries */
@media (min-width: 500px) { 
    .content {
        bottom:80px;
    }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .content {
        bottom:88px;
    }
    .skills-section-title {
        font-size: 4vw;
    }
    .skill-font {
        font-size: 2vw;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .content {
        bottom: 131px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .content {
        bottom: 184px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .content {
        bottom: 210px;
    }
 }
/* Max-width media queries */
 /* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .content {
        bottom:81px;
    }
    .skills-section-title {
        font-size: 6vw;
    }
    .skill-font {
        font-size: 4vw;
    }
    .h3 {
        font-size: 1rem;
    }
    .h4 {
        font-size: .9rem;
    }
    .h5 {
        font-size: .8rem;
    }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    /* .content {
        bottom: 158px;
    } */
 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    /* .content {
        bottom: 182px;
    } */
 }